CREATE DATABASE [Ferias1] 
ON  
PRIMARY 
( NAME = N'Ferias1', 
FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Ferias1.mdf' , 
SIZE = 3072KB , 
FILEGROWTH = 1024KB )
LOG ON 
( NAME = N'Ferias1_log',
 FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Ferias1_log.ldf' , 
SIZE = 1024KB , 
FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'Ferias1', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ferias1].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Ferias1]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Ferias1] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
